<div *ngIf="rule">
  <h1>{{rule._id == null ? 'New' : rule.name}} (<a [routerLink]="['/rules']">Back</a>)</h1>

  <mat-checkbox [checked]="rule.enabled"
                (change)="rule.enabled = $event.checked">Enabled</mat-checkbox>

  <div>
    <mat-form-field class="full-width">
      <input matInput
             placeholder="Name"
             [(ngModel)]="rule.name">
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput
             placeholder="Priority"
             [(ngModel)]="rule.priority">
    </mat-form-field>
  </div>

  <mat-tab-group (selectedIndexChange)="onIndexChange()">
      <mat-tab label="Match">
          <ngx-monaco-editor [options]="editorOptions"
          [(ngModel)]="rule.match" class="editor">
</ngx-monaco-editor>
</mat-tab>
      <mat-tab label="Pre"> 
          <ngx-monaco-editor [options]="editorOptions"
          [(ngModel)]="rule.pre" class="editor">
</ngx-monaco-editor>
         </mat-tab>
      <mat-tab label="Post">     <ngx-monaco-editor [options]="editorOptions"
        [(ngModel)]="rule.post" class="editor">
</ngx-monaco-editor> </mat-tab>
    </mat-tab-group>

  <button mat-button
          (click)="save()">Save</button>
</div>
