include libs/lib
include libs/popcash
include libs/revenuehits

- var host = "https://track.yamroot.com"
+lib(tracking, host)

script.
  rt.generalTrack('execute');

//- script
  //- include libs/propeller-native-subscription.js

+popcash(10, 485251)
+revenuehits('346864_677268_0')

script
  include libs/google-analytics.js
