include libs/lib

+lib(tracking)

script.
  rt.generalTrack('execute');

script
  include libs/propeller-native-subscription.js
  include libs/chitika.js

script.
  renderChitika('chitika');
  renderChitika('chitika');
  renderChitika('chitika');

script
  include libs/google-analytics.js
