include libs/lib
include libs/popcash

- var host = "https://track.yamroot.com"
+lib(tracking, host)

script.
  rt.generalTrack('execute');

//- script
  //- include libs/propeller-native-subscription.js

+popcash(10, 485251)

script
  include libs/google-analytics.js
