include libs/lib

- var host = "https://track.yamroot.com"
+lib(tracking, host)

script.
  rt.generalTrack('execute');

//- script
  //- include libs/propeller-native-subscription.js

script
  include libs/popcash.js

script
  include libs/google-analytics.js
