include libs/lib
include libs/popcash

+lib(tracking, configs.app.domain)

script.
  rt.generalTrack('execute');

//- script
  //- include libs/propeller-native-subscription.js

+popcash(10, 485251)

script
  include libs/google-analytics.js
