include libs/lib
include libs/ad-maven
include libs/properller-popunder
include libs/revenuehits

//- include libs/popcash
//- include libs/chitika
//- include libs/revenuehits

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    style
      include styles/styles.css
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js")
    script
      include libs/patches.js

    +lib(tracking, configs.app.domain)

    //- +popcash(10000, 485717)

    //- +properller-popunder()
    //- +ad-maven()
  body
    p This is the track test page.2
    +revenuehits('346864_677269_0')
