include libs/lib
include libs/properller
include libs/revenuehits
include libs/popcash

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    link(rel="stylesheet", type="text/css", href!="/trackings/styles.css?type=styles&" + tracking.params)
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js")

    +lib(tracking, configs.app.domain)

    // General performance tracking
    script.
      rt.generalTrack('headerscript');

    // Propeller Native Subscription
    //- script
    //-   include libs/propeller-native-subscription.js
    //- script(src="//propu.sh/ntfc.php?p=2556028", data-cfasync="false", async, onerror="_smtzzze()", onload="_ovhlr()")

    if options.properller
      +properller-popunder(options.properller)

    script
      include libs/google-analytics.js

    style
      include styles/styles.css
  body
    div.page-container
      div.page-content
        div.quote
          h1 #{quote.body}
          div.subtitle #{quote.author}
      div.banner
        if options.revenuehits
          +revenuehits('346864_677269_0')
        if options.popcash
          +popcash()
