- var host = ""
include libs/lib

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    +lib(tracking)

    script
      include libs/popcash.js

  body
    p This is the track test page.
    //- iframe(src="http://ps.popcash.net/ad/ad?p=234313&w=485251&t=f6c7cbdec5087180&r=aHR0cCUzQS8vbG9jYWxob3N0JTNBNTAwMS90cmFja2luZ3MvdGVzdCUzRnpvbmUlM0R0ZXN0&vw=2479&vh=607")
