include libs/lib
include libs/properller
include libs/revenuehits
include libs/popcash

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    style
      include styles/styles.css

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js")
    script(src="/trackings/injector.js")

    //- +lib(tracking, configs.app.domain)

    //- +ad-maven()
  body
    p This is the track test page.2
    //- +popcash()
    //- +properller-popunder('luminous-tag')
