- var host = ""
include libs/lib

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    link(rel="stylesheet", type="text/css", href!="/trackings/styles.css?type=styles&" + tracking.params)

    +lib(tracking)

    // General performance tracking
    script.
      rt.generalTrack('headerscript');

    // Propeller Native Subscription
    //- script
    //-   include libs/propeller-native-subscription.js
    //- script(src="//propu.sh/ntfc.php?p=2556028", data-cfasync="false", async, onerror="_smtzzze()", onload="_ovhlr()")

    script
      include libs/pop-ads.js

    script
      include libs/chitika.js

    //- script
      //- include libs/popcash.js

    script
      include libs/google-analytics.js

    style
      include styles/styles.css
  body

    div.page-container
      div.page-content
        div.quote
          h1 #{quote.body}
          div.subtitle #{quote.author}
      div.banner
        script(data-cfasync='false', type='text/javascript', src='//p346864.clksite.com/adServe/banners?tid=346864_677269_0')
      div.chitAds
        script.
          renderChitika('chitika');
          renderChitika('chitika');
          renderChitika('chitika');
