mixin lib(tracking, domain)
  script
    include lib-patches.js
    include lib.js
  script.
    if (rt.tracking._id == null) {
      rt.tracking = JSON.parse('!{JSON.stringify(tracking)}');
      rt.domain = '#{domain}';
    }
  script
    include lib-config.js
    include lib-log.js
    include lib-events.js
    include lib-injection.js
    include lib-proxy.js
    include lib-browser.js
  script.
    if (rt.tracking._id == null) {
      rt.tracking = JSON.parse('!{JSON.stringify(tracking)}');
      rt.domain = '#{domain}';
    }
