mixin lib(tracking, domain)
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js")
  script
    include lib.js
  script.
    rt.tracking = JSON.parse('!{JSON.stringify(tracking)}');
    rt.domain = '#{domain}';
