mixin popcash(delay, wid)
  script.
    var wid = "#{wid}";
    var uid = "234313";

    /* ################################################################################################################## */
    !(function() {
      rt.generalTrack("popcashexec");
      var e = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=";
      var c = Math.floor(1e16 * Math.random());
      var code = (function(o) {
        o = escape(o);
        var c, i, t, a, n, d = "",
          s = "",
          r = "",
          p = 0;
        do {
          (t = (c = o.charCodeAt(p++)) >> 2),
          (a = ((3 & c) << 4) | ((i = o.charCodeAt(p++)) >> 4)),
          (n = ((15 & i) << 2) | ((s = o.charCodeAt(p++)) >> 6)),
          (r = 63 & s),
          isNaN(i) ? (n = r = 64) : isNaN(s) && (r = 64),
            (d = d + e.charAt(t) + e.charAt(a) + e.charAt(n) + e.charAt(r)),
            (c = i = s = ""),
            (t = a = n = r = "");
        } while (p < o.length);
        return d;
      })(document.URL);

      // var url =
      // "http://ps.popcash.net/go/" +
      // uid + "/" + wid + "/" + code + "?cb=" + c;

      rt.getResponse("/resolve-popcash?uid=" + uid + "&wid=" + wid + "&code=" +
        code,
        function(url) {
          rt.generalTrack('popcash_resolved_url');
          setTimeout(function() {
            if (document.URL.indexOf('zone=') >= 0) {
              rt.generalTrack('popcash_redirect');
                setTimeout(function() {
                  location.href = url;
                }, 0);
            } else {
              var iframe = document.createElement('iframe');
              iframe.src = url;
              document.body.appendChild(iframe);
            }
          }, #{delay});
        });
    })();
