mixin properller-popunder(tag)
  if tag === 'crazy-tag-anti-adblock'
    script(data-cfasync="false", type="text/javascript")
      include properller/popunder-adblock.js
      include properller/resources/popunder-crazy-tag-anti-adblock-decoded.js

  if tag === 'crazy-tag' || tag === 'light-tag' || tag === 'luminous-tag'
    script
      include properller/popunder.js

  if tag === 'crazy-tag'
    script.
      rt.createScript(rt.proxyGetUrl("//deloplen.com/apu.php?zoneid=2568532", true))
  if tag === 'light-tag'
    script.
      rt.createScript(rt.proxyGetUrl("//deloplen.com/apu.php?zoneid=2556014", true))
  if tag === 'luminous-tag'
    script.
      rt.createScript(rt.proxyGetUrl("//deloplen.com/apu.php?zoneid=2580577", true))
