mixin properller-popunder(tag)
  if tag === 'crazy-tag-anti-adblock'
    script(data-cfasync="false", type="text/javascript")
      include properller/popunder-adblock.js
      include properller/resources/popunder-crazy-tag-anti-adblock-decoded.js

  if tag === 'crazy-tag'
    script
      include properller/popunder.js
    script.
      rt.createScript(rt.proxyGetUrl("//deloplen.com/apu.php?zoneid=2568532", true))

//- script(src="//deloplen.com/apu.php?zoneid=2568532", data-cfasync="false", async, onerror="_ioeydgo()", onload="_xdktud()")
//- script(src="https://paibopse.com/js/jquery-easing/5.86.52/jquery-easing.min.js")
//- script(src="//deloplen.com/apu.php?zoneid=2568532", data-cfasync="false", async, onerror="_ioeydgo()", onload="_xdktud()")
