mixin revenuehits(subid)
  script
    include revenuehits.js

  if subid === "346864_677269_0"
    //- script(data-cfasync='false', type='text/javascript', src='/trackings/proxy-get?url=Ly9wMzQ2ODY0LmNsa3NpdGUuY29tL2FkU2VydmUvYmFubmVycz90aWQ9MzQ2ODY0XzY3NzI2OV8w')
    //- script(data-cfasync='false', type='text/javascript', src='//p346864.clksite.com/adServe/banners?tid=346864_677269_0')
    script.
      rt.createScript('//p346864.clksite.com/adServe/banners?tid=346864_677269_0');
  if subid === "346864_677268_0"
    script(data-cfasync='false', type='text/javascript', src='/trackings/proxy-get?url=Ly9wMzQ2ODY0LmNsa3NpdGUuY29tL2FkU2VydmUvYmFubmVycz90aWQ9MzQ2ODY0XzY3NzI2OF8w')
