mixin revenuehits(subid)
  script
    if subid === "346864_677269_0"
      include revenuehits/entry-346864_677269_0.js
    if subid === "346864_677268_0"
      include revenuehits/entry-346864_677268_0.js
    
